$width-large : 1052px ;
$width-large-medium : 800px ;
$width-medium : 600px ;
$width-small : 421px ;

$Very-Light-Gray : hsl(0, 0%, 98%) ;
$White : hsl(0,0%,100%) ;
$Dark-Blue : hsl(209, 23%, 22%) ;
$Very-Dark-Blue : hsl(207, 26%, 17%) ;